:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

button {
  background-color: #3636ae;
  color: whitesmoke;
}

input:hover input:focus {
  border: 1px solid #3636ae;
}
